<template>
  <div class="page2">
    <br>
    {{ name }}
    <br>
    <router-link to="/">Go to Page 1</router-link>
    <br>
  </div>
</template>

<script>
export default {
  name: "Page2",
  data: () => ({
    name: "Page 2 in lib app!",
  }),
}
</script>

<style scoped>
.page2 {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: greenyellow;
}
</style>
