<template>
  <v-layout justify-center class="page1">
    <v-container>
      <v-card>
        <v-card-title>{{ name }} its PAGE #1</v-card-title>

        <v-card-text>
          <router-link to="page2">Go to Page 2</router-link>
        </v-card-text>
      </v-card>
      <br>
      <br>

      <v-sheet width="400" class="ml-auto mr-auto pa-6">
        <v-text-field
          outlined
          background-color="white"
          label="Test name"
        />
      </v-sheet>


      <br>
      <br>

      <template>
        <div class="text-center">
          <v-btn
            :disabled="dialog"
            :loading="dialog"
            class="white--text"
            color="primary"
            @click="dialog = true"
          >
            Start loading
          </v-btn>
          <v-dialog
            v-model="dialog"
            hide-overlay
            persistent
            width="300"
          >
            <v-card
              color="primary"
              dark
            >
              <v-card-text>
                Please stand by
                <v-progress-linear
                  indeterminate
                  color="white"
                  class="mb-0"
                ></v-progress-linear>
              </v-card-text>
            </v-card>
          </v-dialog>
        </div>
      </template>
    </v-container>

  </v-layout>
</template>

<script>
export default {
  name: "Page1",
  data: () => ({
    name: "Page 1 in lib app!",
    dialog: false,
  }),

  watch: {
    dialog (val) {
      if (!val) return

      setTimeout(() => (this.dialog = false), 8000)
    },
  },
}
</script>

<style scoped>
.page1 {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: green;
}
</style>
