<template>
  <v-app>
    <div class="text-h4 text-center font-weight-bold mt-4">
      Operator Panel Web Component (Query ID: <span v-if="id">{{id}}</span>)
    </div>
    <v-sheet width="300" class="ml-auto mr-auto my-2">
      <v-btn color="primary" @click="emitToDoList">Send ToDo List</v-btn>
    </v-sheet>
    <div>
      <router-view></router-view>
    </div>
  </v-app>
</template>

<script>
import Vue from 'vue'
import VueRouter from 'vue-router';
import Page1 from '@/views/Page1';
import Page2 from '@/views/Page2';
import axios from 'axios';
// import KwizbotTheme from '@/components/KwizbotTheme'

Vue.use(VueRouter)

axios.interceptors.response.use(
    function (response) {
      console.log('App2 axios response =>', response);
      return response
    }
);

const router = new VueRouter({
  base: '/kw',
  mode: 'history',
  routes: [
    {
      path: '*',
      redirect: '/page1',
    },
    {
      path: '/page1',
      component: Page1,
    },
    {
      path: '/page2',
      component: Page2,
    },
  ],
});

export default {
  name: 'App',

  components: {
    // KwizbotTheme,
  },
  router,
  props: {
    id: {
      type: String,
      required: false,
    },
    toDoList: Array,
  },
  emits: ['sendToDoList'],
  data: () => ({
    todo: [],
  }),
  beforeCreate() {
    this.$vuetify.theme.disable = true
  },
  mounted() {
    this.getToDo();
    console.log('App2 router =>', this.$router);

    console.log(this.$vuetify, 'this.$vuetify.theme')

    console.log(this.$root.$options.shadowRoot, 'this.$root.$options')


  },
  methods: {
    getToDo() {
      axios.get('https://jsonplaceholder.typicode.com/todos/1')
          .then((response) => response.data)
          .then((data) => {
            console.log('App2 api data =>', data);
            this.todo.push(data);
          });
    },
    emitToDoList() {
      this.$emit('sendToDoList', {
        name: 'ToDoList',
        data: this.todo
      });
    }
  }
};
</script>
