<template>

  <div :class="{ [className]: true }">
<!--    <style v-if="css">{{ css }}</style>-->
    {{css}}
    <slot name="default"></slot>
  </div>

</template>

<script>
import Vue from 'vue'
import { genStyles, parse } from 'vuetify/lib/services/theme/utils'

export default Vue.extend({
  name: 'kwizbot-theme',

  props: {
    colors: { type: Object, default: () => null },
  },

  computed: {
    className() {
      return `kwizbot-theme-theme-${this._uid}`
    },
    css() {
      if (!this.colors) return null
      try {
        const { primary, anchor } = this.$vuetify.theme.currentTheme
        const theme = { primary, anchor, ...this.colors }
        console.log(genStyles(parse(theme)).replaceAll(
          '.v-application ',
          `.v-application .${this.className} `
        ), 111111111)
        return genStyles(parse(theme)).replaceAll(
          '.v-application ',
          `.v-application .${this.className} `
        )
      } catch (err) {
        console.warn(`Failed to generate local theme:`, err)
        return null
      }
    },
  },
})
</script>
