<template>
  <section class="page2">
    <nav class="page2-nav">
      <router-link to="/">Go to Page 1</router-link>
      <button @click="changeIdForApp2">Change ID for App2</button>
    </nav>
    <div class="page2-content">
      <h1>{{ name }}</h1>
      <template v-if="todo.length">
        <ul>
          <li v-for="item in todo" :key="item.id">{{ item.title }}</li>
        </ul>
      </template>
      <div class="plugin">
        <template>
          <div class="text-center">
            <v-btn
              :disabled="dialog"
              :loading="dialog"
              color="primary"
              @click="dialog = true"
            >
              Start loading
            </v-btn>
            <v-dialog
              v-model="dialog"
              hide-overlay
              persistent
              width="300"
            >
              <v-card
                color="primary"
                dark
              >
                <v-card-text>
                  Please stand by
                  <v-progress-linear
                    indeterminate
                    color="white"
                    class="mb-0"
                  ></v-progress-linear>
                </v-card-text>
              </v-card>
            </v-dialog>
          </div>
        </template>
        <h2>Operator Panel</h2>
<!--        <div>-->
<!--          <operator-panel-->
<!--              :id="id"-->
<!--              @sendToDoList="setToDoList"-->
<!--          ></operator-panel>-->
<!--        </div>-->
        <div id="vue-wc"></div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios';
// import SomeClass from '../../public/SomeClass.common'
// import '../../app2/dist/js/app.c101323f';
// import '/home/apps/vue-test-web-combonent-integration/app2/dist/js/app.c101323f';

export default {
  name: "Page2",
  data: () => ({
    name: "Page2",
    id: "test",
    todo: [],
    dialog: false,
  }),
  beforeMount() {
    this.appendJs();
  },

  mounted() {
    this.getComments();
  },
  methods: {
    getComments() {
      axios.get('https://jsonplaceholder.typicode.com/comments/2')
          .then((response) => response.data)
          .then((data) => {
            console.log('App1 api data =>', data);
          });
    },
    changeIdForApp2() {
      this.id = Date.now().toString();
    },
    setToDoList($event) {
      this.todo.push($event.detail[0].data[0]);
    },

    appendJs() {
      let yourscript = document.createElement('script');
      yourscript.type = 'text/javascript';
      yourscript.async = true;
      yourscript.src = "/app.c81f767f.js";
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0])
        .appendChild(yourscript);



      // const config = {
      //   // whatever
      // };
      // const app = new SomeClass('#SomeClassApp', config);
      //
      // if (app.$el instanceof HTMLElement) {
      //   app.$el.addEventListener('some-event', function(e) {
      //     if (e instanceof CustomEvent) {
      //       console.log(e.detail);
      //     }
      //   });
      // }
    },
  },

  watch: {
    dialog (val) {
      if (!val) return

      setTimeout(() => (this.dialog = false), 4000)
    },
  },
}
</script>

<style scoped>
.page2 {
  display: block;
  width: 100%;
  padding: 0.5em 0;
}
.page2-nav {
  display: block;
  padding: .5rem 0;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 0, 0.12);
}
.plugin {
  width: 100%;
  height: auto;
}
.plugin > div {
  padding: .5rem;
  background-color: #ffffff;
}
button {
  margin: 0 .5rem;
}
</style>
