<template>
  <section class="page1">
    <nav class="page1-nav">
      <router-link to="kw">Go to Page 2</router-link>
    </nav>
    <div class="page1-content">
      <h1>{{ name }}</h1>
    </div>

    <router-view />
  </section>
</template>

<script>
export default {
  name: "Page1",
  data: () => ({
    name: "Page1",
  })
}
</script>

<style scoped>
.page1 {
  display: block;
  width: 100%;
  padding: 0.5em 0;
}
.page1-nav {
  display: block;
  padding: .5rem 0;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 0, 0.12);
}
</style>
