<template>
  <v-app>
    <header class="header">
      App1 Header!
    </header>
    <main class="main">
      <router-view></router-view>
    </main>
  </v-app>
</template>

<script>
export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>

<style scoped>
.header {
  z-index: 1;
  display: block;
  position: sticky;
  top: 0;
  max-height: 200px;
  padding: 2rem 1rem;
  background-color: #abe7d3;
  backface-visibility: hidden;
}
.main {
  padding: .5rem 1rem;
  background-color: rgba(128, 128, 128, 0.45);
}
</style>
